{% schema %}
{
    "name": "Grid",
    "blocks": [
    {
      "type": "image",
      "name": "Image Card",
      "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}

<section class="custom-banner">
    <h1>{{ section.settings.heading }}</h1>
    <p>{{ section.settings.subheading }}</p>
    <a href="{{ section.settings.button_link }}">
        {{ section.settings.button }}
    </a>
</section>